body{
	font-family: 'Karla', sans-serif;
}


/** HEADER **/

#header-nav{
	background-color: #ff8000;
	border: 0;
	box-shadow: 0px 1px 1px 2px #e67300;
}

.navbar-brand {
  padding-top: -10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.navbar-brand h1{
	font-size: 2em;
	text-shadow: 1px 1px 1px #222;
	color: white;
  	margin-top: 0;
  	margin-bottom: 0;
  	font-weight: bold;
  	line-height: .75;
}

#collapsable-nav{
	width: 100%;
}
#nav-list {
  	margin-top: 10px;
}
#nav-list a {
  color: white;
  text-align: center;
}
#nav-list a:hover {
  background: #e67300;
}

#nav-list a span {
  font-size: 2em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


#title{
	padding: 15px;
}

.row{
	margin: 10px 0px 40px 0px;
}

#content{
	padding: 15px;
	background-color: #ffbf80;
	border-radius: 3px;
	box-shadow: 1px 1px 10px #ff8000;
}

